@{
    ViewData["Title"] = "Contact";
}
<h2>Please, don't hesitate to ask if something goes wrong with the demonstration.</h2>

<address>
    <strong>Support:</strong> <a href="mailto:rmartynov@gmail.com">rmartynov@gmail.com</a>
</address>
