@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
<h2>Instruction and debriefing</h2> 
          
<p>This prototype is for demonstrating purposes only. It shows some patterns of using Bootstrap, jQuery, AJAX at front-end and RESTful API service, plus DTO, plus dependency injections throughout the all all application, plus repository pattern and Entity Framework 7 (with TPH inheritance) for SQLite at back-end. Framework used: ASP.NET 5 .NET Core, IDE used: Visual Studio Code on OS X El Capitan.</p>

<p>OK, now when it sounds scary enough, I can move forward.</p>
<h3>Starting the engine</h3>

<p>
Make sure you installed the framework <a href='http://docs.asp.net/en/latest/getting-started/index.html'>NET Core - getting started</a>
</p>

<p>
Restore all packages
<br />
<code>dnu restore</code>
</p>
<p>
Create the local database and seed starter data <br />
<code>dnx ef database update</code>
</p>
<p>
Build the sources<br />
<code>dnu build</code>
</p>
<p>
Start the app<br />
<code>dnx web</code>
</p>

</div>